h4 {
  font-weight: 500;
}
.wrapper {
  width: min(1300px, 95%);
  margin-inline: auto;
}
.homeContainer {
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  margin-top: 1.5rem;
  /* width: min(1300px, 95%);
  margin-inline: auto; */
  box-shadow: 0 0 15px var(--shadow);
  display: grid;
  gap: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.homeContainer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(240, 7%, 15%, 0.5);
  z-index: 0;
  /* color: hsl(240, 7%, 22%); */
}
.left,
.right {
  display: grid;
  gap: 1rem;
  z-index: 1;
}
.form {
  padding-top: 0.5rem;
}
.form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1rem;
  /* padding: 0.5rem 0.2rem; */
}
.form input::placeholder {
  color: #e6e6e6;
}
.form h4 {
  font-size: 1.2rem;
  margin-block: 1rem;
  color: rgba(255, 255, 255, 0.75);
}
.form h4 span {
  font-weight: 400;
  font-size: 0.9rem;
}
.majorDetails {
  width: 100%;
}
.majorDetails p:first-of-type {
  font-size: 3rem;
  gap: 1rem;
  justify-content: space-between;
}
.majorDetails p:first-of-type span {
  font-size: 1.5rem;
  font-weight: 300;
}
.majorDetails p:last-of-type {
  font-size: 0.9rem;
  justify-content: space-between;
}
.majorDetails p:last-of-type span {
  font-size: 0.9rem;
}
.graph {
  width: 99%;
}
.miniWrapper {
  background-color: hsl(240, 7%, 22%, 0.6);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px hsl(240, 7%, 5%, 0.15);
}
.more {
  /* display: grid; */
  /* gap: 0.3rem; */
}
.more h3 {
  font-weight: 500;
  /* margin-bottom: 0.4rem; */
  font-size: 1.3rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.3rem;
}
/* .right {
  background-color: hsl(271, 56%, 40%);
} */
.overview h4 {
  font-weight: 400;
}
.overview p {
  font-size: 3rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.date,
.icons {
  font-size: 0.95rem;
}
.date img,
.icons img {
  width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.3rem;
}
.date img {
  margin-left: -10px;
  margin-bottom: 0.4rem;
}
.desc span {
  font-size: 2rem;
}

@media (min-width: 50em) {
  .homeContainer {
    grid-template-columns: 330px 1fr;
  }
  .left {
    border-right: 1px solid #fff;
    padding-right: 1rem;
  }
  .right {
    padding-left: 1rem;
  }
}
.sliderContainer {
  display: grid;
  padding-inline: 0.7rem;
  background-color: hsl(240, 7%, 22%, 0.2);
  border-radius: 0.5rem;
  gap: 0.2rem;
  padding-top: 0.5rem;
}
.sliderBox {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 240px;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
}
.box {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(240, 7%, 22%, 0.6);
  box-shadow: 0 0 8px hsl(240, 7%, 5%, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.875rem;
  scroll-snap-align: center;
}
.sliderBox::-webkit-scrollbar {
  height: 4px;
}
.box i {
  width: 40px;
  aspect-ratio: 1 / 1;
}
.box i img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.box .boxDesc {
  text-transform: capitalize;
}
.box .boxTemp {
  font-size: 1.5rem;
}
.box .boxTempDaily {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.boxTempDaily span {
  display: block;
}
.boxTempDaily span:first-of-type {
  color: hsl(16, 95%, 65%);
}
.boxTempDaily span:last-of-type {
  color: hsl(197, 95%, 65%);
}
:where(.icon, .boxTempDaily) img {
  width: 25px;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
  margin-top: -0.2rem;
}
.sun {
  gap: 1rem;
}

.lastUpdate {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}
.lastUpdate span {
  font-size: 0.85rem;
}
.mapsCitiesContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 65em) {
  .mapsCitiesContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 30rem) {
  .homeContainer {
    padding: 1rem 0.5rem;
  }
  .overview p {
    font-size: 2rem;
  }
}
