.container {
  width: min(400px, 95%);
  margin: auto;
  margin-top: 2rem;
  color: #fff;
  background-color: var(--navDark);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.container p {
  font-size: 1.5rem;
}

@media (max-width: 30em) {
  .container p {
    font-size: 1rem;
  }
}
