.selectContainer {
  width: min(500px, 90%);
  margin: auto;
  margin-top: 2rem;
}
.selectContainer form {
  background-color: var(--navDark);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.selectContainer form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 0.2rem;
}
.selectContainer form input::placeholder {
  color: #e6e6e6;
}
